<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" href="estilos.css">
    </head>
    <body>
        <header><h1>Aqui va el encabezado</h1></header>
        <nav>Aqui va la barra de navegacion</nav>
        <main>
            <aside>Aqui va el indice</aside>
            <section>
                <figure id="banner1">Aqui va la seccion 1</figure>
                <figure id="banner2">Aqui va la seccion 2</figure>
                <figure id="banner3">Aqui va la seccion 3</figure>
            </section>
        </main>
        <footer>Aqui va el pie de pagina</footer>
    </body>
</html>